name: PHPUnit
on:
  push:
    branches:
      - master
    tags:
      - "*.*.*"
  pull_request:
    branches:
      - master

jobs:
  Build:
    runs-on: 'ubuntu-latest'
    container:
      image: 'byjg/php:${{ matrix.php-version }}-cli'
      options: --user root --privileged
    strategy:
      matrix:
        php-version:
          - "8.5"
          - "8.4"
          - "8.3"

    services:
      mongodb:
        image: mongo:7
        env:
          TZ: America/Winnipeg
          MONGO_INITDB_ROOT_USERNAME: rootuser
          MONGO_INITDB_ROOT_PASSWORD: rootpass
        ports:
          - 27017:27017

      dynamodb:
        image: amazon/dynamodb-local
        ports:
          - 8000:8000

      s3:
        image: localstack/localstack
        ports:
          - "4566:4566"
        env:
          SERVICES: s3
          DEFAULT_REGION: us-west-1
          AWS_DEFAULT_REGION: us-west-1
          HOSTNAME: s3
          HOSTNAME_EXTERNAL: s3
          USE_SSL: false
          DEBUG: 1
        options: >-
          --health-cmd "awslocal s3 ls"
          --health-interval 5s
          --health-timeout 10s
          --health-retries 5

    env:
      MONGODB_CONNECTION: "mongodb://rootuser:rootpass@mongodb/test"
      S3_CONNECTION: "s3://aaa:12345678@us-east-1/mybucket?create=true&endpoint=http://s3:4566"
      DYNAMODB_CONNECTION: "dynamodb://aaa:123456@us-east-1/tablename?endpoint=http://dynamodb:8000"

    steps:
      - uses: actions/checkout@v5
      - run: composer install
      - run: composer test

  Psalm:
    name: Psalm Static Analyzer
    runs-on: ubuntu-latest
    permissions:
      # for github/codeql-action/upload-sarif to upload SARIF results
      security-events: write
    container:
      image: byjg/php:8.4-cli
      options: --user root --privileged

    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Composer
        run: composer install

      - name: Psalm
        # Note: Ignoring error code 2, which just signals that some
        # flaws were found, not that Psalm itself failed to run.
        run: ./vendor/bin/psalm
          --show-info=true
          --report=psalm-results.sarif || [ $? = 2 ]

      - name: Upload Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v4
        if: github.ref == 'refs/heads/master'
        with:
          sarif_file: psalm-results.sarif

  Documentation:
    if: github.ref == 'refs/heads/master'
    needs: Build
    uses: byjg/byjg.github.io/.github/workflows/add-doc.yaml@master
    with:
      folder: php
      project: ${{ github.event.repository.name }}
    secrets:
      DOC_TOKEN: ${{ secrets.DOC_TOKEN }}

